<div class="margin-top-20">
	<%- if controller_name != 'sessions' %>
	  <p><%= link_to 'Вход', new_session_path(resource_name), class: 'underline' %></p>
	<% end -%>

	<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
	  <p class="margin-top-10"><%= link_to "Регистрация", new_registration_path(resource_name), class: 'underline' %></p>
	<% end -%>
</div>